<form #regForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutGap="1vw">
        <mat-form-field>
            <mat-label>City</mat-label>
            <select matNativeControl #city="ngModel" id="city" name="city" [(ngModel)]="model.city"
                required>
                <option *ngFor="let city1 of cities_to_add" [ngValue]="city1.city">{{city1.city}}</option>
            </select>
            <div *ngIf="city.errors && (city.touched)">
                <div *ngIf="city.errors.required">
                    <mat-error [hidden]="!city.errors.required && city.dirty">City is required</mat-error>
                </div>
            </div>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="regForm.invalid">
            Add
        </button>
    </div>


</form>
