<mat-toolbar color="primary">
  <span> &nbsp; </span>
  <button mat-icon-button (click)="goHome()">
    <mat-icon aria-label="home icon">home</mat-icon>
  </button>
  <span noWrap=false>Weather APP</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="addCity()">
    <mat-icon aria-label="add city icon">add</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>